* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: $font-family;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  @include mq {
    flex-direction: row;
  }
  overflow-x: hidden;
}

main {
}

button {
  border: 0.1em solid transparent;
  background-color: $secondary-color;
  border-radius: 2em;
  font-size: 0.75em;
  transition: .5s;
  padding: {
    left: 1em;
    right: 1em;
    top: .5em;
    bottom: .5em;
  }

  &:active, &:hover, &:focus {
    //border: 0.1em $accent-color solid;
    background-color: $accent-color;
  }
}

#hello {
  @include get-padding;
  @include mq {
    height: 100vh;
  }
  width: auto;
  h1 {
    font-size: $head-size;
    font-weight: 500;
  }
  p {
    line-height: 1.5;
  }
}

#down {
  margin-top: 2em;
  justify-self: center;
  text-align: center;
  font-size: .75em;
  display: none;
  @include mq {
    display: block;
  }
}

#more {
  background-color: $secondary-color;
  width: 100vw;
  height: 150vw;
  @include mq {
    height: 100vh;
  }
  padding: 0;
}

.padding {
  @include get-padding;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-right: 1em;
}

.container {
  background-color: $primary-color;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;

  button {
    margin: 1em;
    font-size: .5em;
  }

  h1 {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;

    &::after {
      content: "";
      display: block;
      width: 1.5em;
      height: .1em;
      background: $accent-color;
      //position: absolute;
      margin-left: 45%;
      margin-top: .5em;
      border-radius: 1em;
    }

  }

  img {
    height: 2em;
    margin: .5em;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}


#skills {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0;

  h1 {
    &:after {
      margin-left: 47%;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#down{
  position: relative;
}