* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: $font-family;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  @include mq {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2em;
  }
  overflow-x: hidden;
}

main {
  @include get-padding;
  width: 100vw;
}

.no-padding {
  padding: 0;
}

h1 {
  font-weight: 500;
}

article {
  text-align: justify;
}

p {
  line-height: 1.5;
}

button {
  border: 0.1em solid transparent;
  background-color: $secondary-color;
  border-radius: 2em;
  font-size: 0.75em;
  transition: .5s;
  padding: {
    left: 1em;
    right: 1em;
    top: .7em;
    bottom: .7em;
  }
  flex-grow: 0;

  &:active, &:hover, &:focus {
    background-color: $accent-color;
  }

}

button > a {
  color: black;

  &:active, &:hover, &:focus {
    color: black;
  }
}

#hello {
  @include get-padding;
  @include mq {
    height: 100vh;
  }
  width: auto;

  h1 {
    font-size: 2em;
    font-weight: 500;
  }

  @include mq {
    h1 {
      font-size: $head-size;
    }
  }
}

#down {
  margin-top: 2em;
  justify-self: center;
  text-align: center;
  font-size: .75em;
  display: none;
  z-index: -1;
  @include mq {
    display: block;
  }
}

#more {
  background-color: $secondary-color;
  width: 100vw;
  height: auto;
  @include mq {
    height: 120vh;
  }
  padding: 0;
}

.padding {
  @include get-padding;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @include mq {
    justify-content: flex-start;
  }
  padding-right: 1em;
}

@media (prefers-reduced-motion: no-preference) {
  .container-animation {
    animation-name: wipe-enter;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}

.container {
  background-color: $primary-color;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  flex-grow: 1;
  @include mq {
    flex-grow: 0;
  }
  button {
    margin: 1em;
    font-size: .5em;
  }

  h1 {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;

    &::after {
      content: "";
      display: block;
      width: 1.5em;
      height: .1em;
      background: $accent-color;
      @include mq {
        margin-left: 46%;
      }
      margin-left: 39%;
      margin-top: .5em;
      border-radius: 1em;
    }

  }

  img {
    height: 2em;
    margin: .5em;
  }
}

.flex-row {
  display: flex;
  @include mq {
    flex-direction: row;
  }
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

  * {
    margin-bottom: 1em;
  }
}


#skills {
  @include mq {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
  }
  width: 70%;
  h1 {
    &:after {
      @include mq {
        margin-left: 46%;
      }
    }
  }
}

#row-skills {
  flex-direction: row;
}

a {
  text-decoration: none;
  color: inherit;

  &:active, &:hover, &:focus {
    color: $accent-color;
  }
}

#down {
  position: relative;
}

.title {
  text-align: left;
  &::before {
    content: "";
    width: 1em;
    height: .1em;
    margin-top: .5em;
    margin-left: -.8em;
    background: $accent-color;
    position: absolute;
    border-radius: 1em;
    transform: rotate(90deg);
  }
}

.container2 {
  text-align: left;
  width: 90%;
  margin: 2em auto;
  padding: 0 1em 1em;
  border: $secondary-color .1em solid;
  border-radius: 1.2em;

  h1 {
    font-size: 0.5em;
  }

}

.container2 .grid img {
  height: 10em;
}

article:not(#hello):not(#more) {
  font-size: 0.7em;

  p {
    line-height: 1.8em;
  }
}

#details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  text-align: left;
  flex-grow: 0;
  flex-basis: 30%;
  h1 {
    font-size: 1em;
  }
}

.fa-google {
  color: $dark;
  display: inline-block;
  margin-right: .7em;
}

.category {
  font-weight: 400;
  color: $dark;
  text-transform: uppercase;
  font-size: 1em;
  margin-block-end: 3em;
}

h3 {
  @extend .category;
  font-weight: 500;
  color: black;
  margin-block-end: 1em;
  display: inline;
  margin-right: 2em;

}

h3 + p {
  display: inline;
  margin: 0;
  padding: 0;
}

.padding-inside {
  padding: 1em;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  img {
    position: relative;
    margin: .5em;
    z-index: -1;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 20em;
  }
}

.fa-arrow-left {
  color: #cbcbcb;
}

.tile {
  position: relative;
  margin: .2em;
}

.tile img {
  margin: 0;
  padding: 0;
  z-index: -1;
}

.overlay {
  margin:0;
  padding: 0;
  position: absolute;
  bottom: 0;
  top: .1%;
  width: 100%;
  height: 98%;
  opacity: 0;
  transition: .5s;
  background-color: rgba(171, 151, 229, 1);
}

.tile:hover .overlay {
  opacity: 1;
}

.text {
  @extend p;
  color: white;
  font-size: .7em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: start;
  text-transform: uppercase;
}