//=====================================
// Colors
//=====================================

$primary-color: white;
$secondary-color: #f1f1f1;
$accent-color: #ab97e5;
$accent-color2: #504272;

//======================================
// Fonts
//======================================
$normal-size: 5em;
$head-size: 3em;
$font-family: 'Montserrat', sans-serif;
