//=====================================
// Colors
//=====================================

$primary-color: white;
$secondary-color: #f1f1f1;
$accent-color: rgb(171, 151, 229);
$dark: #d5d5d5;


//======================================
// Fonts
//======================================
$normal-size: 5em;
$head-size: 3em;
$font-family: 'Montserrat', sans-serif;
