body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

#canvas {
    height: 80vh;
    width: 80vh;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: deeppink;
    text-align: center;
    -webkit-text-stroke: 0.1px black; /* width and color */
    text-shadow: indigo 2px 2px;
}

#canvas {
    border: 2px indigo solid;
}

@media only screen and (max-width: 600px) {
    #canvas {
        height: 80vw;
        width: 80vw;
    }
}